@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Diego .net</h1>
    <p class="lead">Curso de ASP.net core 2.0</p>
    <hr class="my-4">
    <p>Um curso abrangente, aprensentando os principais recursos da ASP NET Core</p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://www.marcoratti.net" role="button">Marcoratti</a>
    </p>
</div>