<table>
    <tr>
        <td>@Html.ActionLink("Home-Início", "Index", "Home")</td>
        <td>@Html.ActionLink("Cliente-Início", "Index", "Cliente")</td>
        <td>@Html.ActionLink("Contato-Início", "Contact", "Home")</td>
        <td>@Html.ActionLink("Sobre-Início", "About", "Home")</td>
    </tr>
</table>