@page
@model AdicionarAvisoModel
@{
    ViewData["Title"] = "Adicionar Novo";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div class="form-group">
                <label asp-for="Item.Nome"></label>
                <input class="form-control" asp-for="Item.Nome" />
                @Html.ValidationMessageFor(m => m.Item.Nome)
            </div>

            <div class="form-group">
                <label asp-for="Item.Mensagem"></label>
                <input class="form-control" asp-for="Item.Mensagem" />
                @Html.ValidationMessageFor(m => m.Item.Mensagem)
            </div>

            <input type="hidden" asp-for="Item.Hora" />
            <button type="submit" class="btn-default">Tá avisado</button>

        </form>
    </div>
</div>
