@page
@inject QuadroAvisos.Data.AvisoContext dataContext

@{
    ViewData["Title"] = "Quadro de Avisos";

    var avisos = dataContext.Avisos
        .OrderByDescending(s => s.Hora)
        .Take(100)
        .ToList();

}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-10">
        @if (avisos.Any()) //VERIFICA SE EXISTE ALGUM AVISO
        {
            foreach (var aviso in avisos)
            {
                <p>
                    @*EXIBE NOME HORA E MENSAGEM DO AVISO*@
                    <strong>@aviso.Nome</strong> | @aviso.Hora.ToString() <br />
                    @Html.Raw(aviso.Mensagem.Replace("\r\n", "<br/>"))
                </p>
            }
        }
        else
        {
            <p>Nenhum aviso publicado! Seja o primeiro</p>
        }
    </div>
</div>
<a href="AdicionarAviso">Adicionar Novo Aviso</a> @*CHAMA A PÁGINA ADICIONAR AVISO*@