
@{
    ViewData["Title"] = "Index";
}

<h2>Admin</h2>
<hr/>

<div class="container">
    <div class="jumbotron">
        <h3>Área administrativa</h3>
        <p>
            Esta é a área do administrador
        </p>
    </div>
    <p>Admin</p>
    <p>Diego .net</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>|
    <a asp-area="Produtos" asp-controller="Produtos" asp-action="Index">Produtos</a>|
    <a asp-area="Admin" asp-controller="Admin" asp-action="Informacoes">Informações</a>
</div>

